
<h1>hello</h1>
<br />
<div class="booyah-box col-10 offset-1">
<h2>Where we traveling to?</h2>
    <%= simple_form_for @quote do |f| %>
        <%= f.input :country, as: :text %>
        <%= f.input :reason, as: :text %>
        <%= f.submit 'Create' %>
    <% end %>
</div>